{% extends "templates/web.html" %}

{% block head_include %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kredo Compliance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/4ab1889413.js" crossorigin="anonymous"></script>
{% endblock %}

{% block style %}
    <style>
	a { 
	   text-decoration: none;
 	}
	h1 {
	   color:#fff;
	}
	a:hover {
  	text-decoration: none;
	color:#fff;
	}
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .jumbotron {
            background-size: cover;
            color: #fff;
            text-align: center;
            padding: 150px 0;
            background-image: url('https://i.ibb.co/sKFQPyP/amy-hirschi-szr-J3wjz-OMg-unsplash.jpg');
        }
        .jumbotron h1 {
            font-size: 48px;
            color:#fff;
        }
	.btn-primary {
    		background-color: #4CAF50; 
    		border-color:  #4CAF50; 
    		color: #311b92; 	
	}
	.btn-primary:hover {
    		background-color: #5e35b1;
    		border-color: #5e35b1;
   	 	color: #ffffff;
		text-decoration:none; 
	}
	.feature{
            text-align:center;
	}
	.shortcut{
	    display:flex;
	    align-items:center;
	    justify-content:center;
	    text-decoration:none;
	    margin-bottom: 10px;
	    color:#000;
	}
	.shortcut-links{
	     display:flex;
            align-items:center;
            justify-content:center;
	  }
        /* Add more custom styles as needed */
    </style>
{% endblock %}


<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Kredo Analytics</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> !-->
{% block page_content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Kredo Compliance</h1>
            <p>A place to manage your compliances.</p>
	    <div class="container my-5">
       <!-- <div class="row">
            <div class="col-lg-4 feature">
                <a href="mycompliances" class="btn btn-primary btn-md">Subscribe</a>
                <p>Subscribe to your compliances (Coming Soon...)</p>
            </div>
            <div class="col-lg-4 feature">
                <a href="mycompliances" class="btn btn-primary btn-md">My Compliances</a>
                <p>Access compliances assigned for you</p>
            </div>
            <div class="col-lg-4 feature">
                <a href="compliance-tracker" class="btn btn-primary btn-md">New Compliance</a>
                <p>If you can't see your compliance add your own</p>
            </div>
	    <a href="bulk_assign" class="btn btn-primary btn-md">Add Your Compliance</a>
        </div> !-->
	<div class="shortcut-links" role="group" aria-label="Shortcut Buttons">
            <a href="mycompliances" class="btn btn-outline-success">My Compliances
		<i class="fa-solid fa-arrow-up-right-from-square fa-bounce ml-1"></i>
		</a>
            <a href="compliance-tracker" class="btn btn-outline-success">New Compliance
		<i class="fa-solid fa-arrow-up-right-from-square fa-bounce ml-1"></i>
		</a>
            <a href="bulk_assign" class="btn btn-outline-success">Assign Compliance
		<i class="fa-solid fa-arrow-up-right-from-square fa-bounce ml-1"></i>
	   </a>
            <a href="/app/my-compliances" class="btn btn-outline-success">Desk View
		<i class="fa-solid fa-arrow-up-right-from-square fa-bounce ml-1"></i>
	   </a>
        </div>
    </div> 
        </div>
    </div>
{% endblock %}    
 <!--   <footer class="bg-dark text-white py-3">
        <div class="container text-center">
            &copy; 2023 Kredo Analytics
        </div>
    </footer> !-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


